# Android Studio
.idea/
.gradle/
build/
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class

# Keystore files
*.jks
*.keystore

# Proguard
proguard/

# Log files
*.log

# Cmake
.cxx/

# NDK
.externalNativeBuild/

# Captured snapshots
*.snapshot

# User-specific files
.DS_Store
/.kotlin/sessions/kotlin-compiler-12848457850409602922.salive
